@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero-page__mob-img {
        display: block;
        position: absolute;
        z-index: 1;
        &-1 {
            margin: 0 auto;
            float: right;
            position: absolute;
            top: -103.61px;
            left: 188.16px;
        }
        &-2 {
            margin: 0 auto;
            float: right;
            position: absolute;
            top: 97px;
            left: 38px;
        }
        &-3 {
            margin: 0 auto;
            float: right;
            position: absolute;
            top: 64px;
            left: 92px;
        }
        &-4 {
            margin: 0 auto;
            float: right;
            position: absolute;
            top: 580px;
            left: 304px;
        }
        &-5 {
            margin: 0 auto;
            float: right;
            position: absolute;
            top: 557px;
            left: 273px;
        }

    }

    .hero-page__img-star {
        display: none;
    }

    .hero-page {
        height: 700px;
        position: relative;
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
            padding-top: 147px;
        }
        &__header {
            align-items: center;
        }
        &__title {
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            max-width: 262px;
        }
        &__text {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            max-width: 296px;
        }
        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
        }
    }

    .mini-games {
        &__content {
            font-weight: 700;
            padding-top: 48px;
            padding-bottom: 10px;
            gap: 48px;
        }

        &__title {
            font-size: 40px;
        }

        &__block {
            gap: 24px;
        }

        &__unit {
            display: flex;
            flex-direction: column;
            width: 343px;
        }

        &__unit-img {
            width: 343px;
            height: 285px;
        }

        &__unit-card {
            width: 285px;
            padding: 29px 29px;
        }

        &__unit-check {
            width: 284px;
            gap: 16px;
        }

        &__unit-title {
            font-size: 32px;
        }

        &__unit-discription {
            font-size: 16px;
            width: 285px;
        }

        &__unit-button {
            width: 285px;
            height: 55px;
            font-size: 16px;
        }
    }

    .body {
        display: none;
    }
    .footer {
        height: 100px;
        &__text {
            font-weight: 600;
            font-size: 16px;
        }
    }

    .mini-games__unit-img-1 {background-color: #AD61FF;}
    .mini-games__unit-img-2 {background-color: #FDAD00;}
    .mini-games__unit-img-3 {background-color: #565EEF;}
    .mini-games__unit-img-4 {background-color: #271A58;}
    .mini-games__unit-img-5 {background-color: #99D100;}
    .mini-games__unit-img-6 {background-color: #271A58;}
}
