@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero-page {
        &__content {
            display: flex;
            align-items: center;
        }
        &__title {
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            max-width: 262px;
        }
        &__text {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            max-width: 296px;
        }
        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
        }
    }

    .body {
        display: none;
    }
}