@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero-page {
        &__header {
            align-items: center;
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }
        &__title {
            font-weight: 700;
            font-size: 40px;
            text-align: center;
            max-width: 262px;
        }
        &__text {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            max-width: 296px;
        }
        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
        }
    }

    .mini-games {
        &__content {
            font-weight: 700;
            padding-top: 48px;
            padding-bottom: 10px;
        }

        &__title {
            font-size: 40px;
        }

        &__block {
            gap: 24px;
        }

        &__unit {
            display: flex;
            flex-direction: column;
            width: 343px;
        }

        &__unit-img {
            width: 343px;
            height: 285px;
        }

        &__unit-card {
            width: 285px;
            padding: 29px 29px;
        }

        &__unit-title {
            font-size: 32px;
        }

        &__unit-discription {
            font-size: 16px;
            width: 285px;
        }

        &__unit-button {
            width: 285px;
            font-size: 16px;
        }
    }

    .body {
        display: none;
    }
}