* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.hero-page {
    background-color: #E1FF8F;
    background-image: url(img/hero-page_img.png);
    background-repeat: no-repeat;
    background-position: right;
}

.hero-page__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 196px;
    padding-bottom: 246px;
}

.hero-page__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: #202027;
}

.hero-page__title {
    font-weight: 700;
    font-size: 64px;
}

.hero-page__text {
    font-weight: 400;
    font-size: 24px;
    width: 720px;
}

.hero-page__button {
    width: 247px;
    height: 66px;
    border: 1px solid #202027;
    background-color: #202027;
    border-radius: 60px;
    color: #fff;
    font-family: "montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
}
.hero-page__button:hover {
    border: 1px solid #202027;
    background-color: #fff;
    color: #202027;
} 

.body {
    background-color: #202027;
}

.body__part-1 {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-top: 94px;
    padding-bottom: 50px;
}

.body__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.body__title {
    font-weight: 700;
    font-size: 64px;
    color: #fff;
}

.body__text {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.body__content-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.body__content-blok {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.body__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
    background-color: #fff;
    border-radius: 30px;
    width: 378px;
    text-decoration: none;
}
.body__product:hover {
    transform: scale(1.1);
}

.body__product-title {
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 314px;
}

.body__product-img {
    border-radius: 30px;
}

.body__product-nomber {
    font-weight: 500;
    font-size: 16px;
    color: #202027;
    display: flex;
    background-color: #f7f7f7;
    width: 111px;
    height: 36px;
    border-radius: 52px;
    align-items: center;
    justify-content: center;
}

.body__product-name {
    font-weight: 700;
    font-size: 32px;
    color: #202027;
}

.body__product-min {height: 473px;}
.body__product-norm {height: 512px;}
.body__product-big {height: 551px;}

.footer {
    background-color: #BDED35;
    height: 150px;
}

.footer__text {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 60px;
}

@import '_mobilGS.scss';